<h1 style="text-align: center;"> Gestion des circuits</h1>
<h3 style="text-align: center;"><a href="/ajouterCircuit">+ Ajouter un circuit</a></h3>
<div class="centered">
<table style="border: solid black 1px;">
    <tr>
        <td><strong>Nom</strong></td>
        <td><strong>Longueur</strong></td>
        <td><strong>Nombre de spéctateurs</strong></td>
        <td><strong>Actions</strong></td>
    </tr>
    {{#each circuitInfo}}
    <tr>
    <td>{{this.cirnom}}</td>
    <td>{{this.cirlongueur}}m</td>
    <td>{{this.cirnbspectateurs}}</td>
    <td><a href="/modifierCircuit/{{this.cirnum}}">Modifier</a>     /  <a href="/deleteCircuit/{{this.cirnum}}"> Supprimer</a></td>
    </tr>
    {{/each}}
</table>
</div>